/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}
.phx-disconnected * {
  pointer-events: none;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 10px;
  padding-right: 5px;
}

select {
  width: -webkit-fill-available;
}

.graph-container {
  width: 95vw;
  height: 85vh;
}

header {
  background: linear-gradient(
    0deg,
    rgba(178, 250, 157, 1) 0%,
    rgba(206, 130, 92, 1) 46%,
    rgba(46, 139, 232, 1) 96%
  );
}

//#94ff70

body {
  margin: 0;
  background-color: #bef9ff;
  font-family: "Cairo", sans-serif;
}

section {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  margin-bottom: -1px;
}

section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: url(/images/wave-blue.png);
  background-size: 700px 50px;
}

section .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 0.9;
  animation-delay: 0s;
  bottom: 0;
}

section .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.4;
  animation-delay: -5s;
  bottom: 10px;
}

section .wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

section .wave.wave4 {
  animation: animate2 15s linear infinite;
  z-index: 997;
  opacity: 0.3;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 700px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -700px;
  }
}

select {
  font-family: "Cairo", sans-serif;
  border-color: rgba(46, 139, 232, 1);
}

button {
  font-family: "Cairo", sans-serif;
  background-color: rgba(46, 139, 232, 1);
  border-color: rgba(46, 139, 232, 1);
  transition: background-color 0.2s ease;
  transition: border-color 0.2s ease;
  transition: color 0.2s ease;
}

button:hover {
  background-color: rgba(206, 130, 92, 1);
  border-color: rgba(206, 130, 92, 1);
}

th {
  background: #bce8f1;
  position:sticky;
  top: 0;
  border-radius: 7px;
}

td, th {
  padding: 10px;
  text-align: center;
}

.tab-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-buttons-container {
  display: flex;
  flex-direction: row;
  padding: 3rem;
}

.tab-button {
  margin: 10px;
  padding: 10px;
  background-color: #bce8f1;
  border-radius: 10px;
  font-weight: bold;
  transition: box-shadow ease 0.2s;
}

.tab-button:hover {
  cursor: pointer;
  box-shadow: 2px 5px;
}

.active-tab-button {
  text-decoration: underline;
}

.create-notify-link {
  padding: 5px;
}